body{
	width: 100vh;
	height: 100vh;
	margin: 0;
}

#page{
	width: 1200px;
	height: 1200px;
}


.classblock{
	width: 150px;
	height: 250px;
	margin: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	text-align: center;
	position: relative;
	display: inline-block;
	overflow: auto;
	background-color: yellow;
}


.child{
	background-color: green;
	position: relative;
	text-align: center;
}

#toolbar{
	border-right: 2px;	
	height: 100%;
	width: 50px;
	background-color: turquoise;
	margin: 0px;
	margin-right: 5px;
	float: left;
	overflow: auto;
}

#button{
	height: 50px;
	width: 90%;
	margin: 5%;

}

#edit {
	
}

#blockArea{
	width: 1100px;
	height: 1200px;
	float: left;
	background-color: salmon;
	overflow: auto;

}

.dropdown{
	position: relative;
	top: 225px;
}

form{

}

li{
	text-align: left;
}
